
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>GROW</title>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Abel|Playfair+Display&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
</head>

<body>  
  {{{body}}}
</body>

</html>