
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>GROW</title>

  <meta property="og:url" content="https://grow-main.herokuapp.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="GROW" />
  <meta property="og:description" content="We aim to  increase positive thought by encouraging you to reflect on what makes you happy. We are collecting submissions from all over the world, and showcasing them in an explorative digital experience." />
  <meta property="og:image" content="/assets/img/zoom2.png" />
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
</head>

<body>  
  {{{body}}}
</body>

</html>