<html lang="en">
<head>
  <meta charset="utf-8"/>

  <title>GROW</title>

  {{!-- <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script> --}}
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
</head>

<body id="aboutBody">
  <div id="aboutContent">
    <h2 class="lato">OUR</h2>
    <h1 class="playfair">MISSION</h1>
    <h3 class="playfair">Hope and connectivity</h3>
    <p class="lato">
      We aim to  increase positive thought by encouraging you to reflect on what makes you happy. <br />
      We are collecting submissions from all over the world, and showcasing them in an explorative digital experience.<br/>
      We ask you to share any submissions that speak to you, and help spread the love during this time of isolation.<br/>
      We are Grow. 
    </p>
    <img src="/assets/img/introLeaves.svg" />

    <a href="/login" target="_parent" id="aboutNextBtn"><button class="playfair">Start</button></a>
  </div>
  
  <video autoplay muted loop id="introVid">
      <source src="/assets/img/leaf-intro.mp4" type="video/mp4">
  </video>

  <div class="mobile">
    <h1 class="playfair">GROW</h1>
    <p class="lato">Looks like this screen is too small. Use your computer to submit positive thoughts and explore the submissions of others from around the world.</p>
    <a href="https://www.grow-main.herokuapp.com"><strong class="lato">www.grow-main.herokuapp.com</strong></a>
  </div>

  <div class="error">
  </div>

  {{!-- <script src="/assets/bundle.js"></script> --}}
  <script>
    setTimeout(function() {
      document.getElementById('introVid').style.display='none'
    }, 8000);
  </script>
</body>

</html>