<html lang="en">
<head>
  <meta charset="utf-8"/>

  <title>GROW</title>

  {{!-- <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script> --}}
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
</head>

<body id="aboutBody">
  <div id="aboutContent">
    <div class="missionTitleText">
      <h2 class="lato ourAboutText">OUR</h2>
        <svg height="1" width="100">
          <line x1="0" y1="0" x2="92" y2="0" style="stroke:rgba(170, 170, 170, 1);stroke-width:2" />
          Sorry, your browser does not support inline SVG.
        </svg>   
      <h1 class="playfair missionAboutText">MISSION</h1>
    </div>
    <div id="aboutHopeText">
      <h3 class="playfair hopeTextTitle">Hope and connectivity</h3>
      <p class="lato aboutPageText">
        We aim to  increase positive thought by encouraging you to <br/> reflect on what makes you happy. <br /> <br/>
        We are collecting submissions from all over the world, and <br/>showcasing them in an explorative digital experience.<br/> <br/>
        We ask you to share any submissions that speak to you, and <br/> help spread the love during this time of isolation.<br/><br/>
        We are Grow. 
      </p>
      <a href="/login" target="_parent" id="aboutNextBtn"><button class="playfair" id="aboutStartBtn">Start</button></a>
    </div>
  </div>
  <img src="/assets/img/introLeaves.svg" class="loginLeaves"/>
  
  <video autoplay muted loop id="introVid">
      <source src="/assets/img/leaf-intro.mp4" type="video/mp4">
  </video>

  <div class="mobile">
    <h1 class="playfair">GROW</h1>
    <p class="lato">Looks like this screen is too small. Use your computer to submit positive thoughts and explore the submissions of others from around the world.</p>
    <a href="https://www.grow-main.herokuapp.com"><strong class="lato">www.grow-main.herokuapp.com</strong></a>
  </div>

  <script>
    setTimeout(function() {
      document.getElementById('introVid').style.display='none'
    }, 8100);
  </script>
</body>

</html>