<html lang="en">
<head>
  <meta charset="utf-8"/>

  <title>GROW</title>
  <meta property="og:url" content="https://grow-main.herokuapp.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="GROW" />
  <meta property="og:description" content="We aim to increase positive thought by encouraging you to reflect on what makes you happy. We are collecting submissions from all over the world, and showcasing them in an explorative digital experience." />
  <meta property="og:image" content="/assets/img/growShare.png" />

  {{!-- <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script> --}}
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
</head>

<body id="promptBody">
  <section id="promptTitle">
  </section>
  <section id="logThought">
  </section>
  
  <div class="error">
  </div>

    <div class="mobile">
    <h1 class="playfair">GROW</h1>
    <p class="lato">Looks like this screen is too small. Use your computer to submit positive thoughts and explore the submissions of others from around the world.</p>
    <a href="https://grow.cad.rit.edu"><strong class="lato" style="color: white">grow.cad.rit.edu</strong></a>
  </div>

  <script src="/assets/bundle.js"></script>
</body>

</html>