// color variables
$pinkBtnBackground: #ED7163;
$blackBlue: #070822;
$grey: #AAAAAA;
$promptOutline: #E5E5E5;
$greySubtext: #585858;

// prompt color variables
$inspiredOrange: #FEA050;
$excitedBlue: #4FD4FE;
$happiestYellow: #FFE175;
$proudRed: #ED6E5F;
$lovePink: #FC528F;
$thankfulGreen: #55D897;

// fonts
.playfair {
    font-family: 'Playfair Display', serif;
}
.lato {
    font-family: 'Lato', sans-serif;
}

// backgrounds
#exploreBody, #promptBody, #aboutBody, #dataVisBody, #loginBody {
    background-image: url("/assets/img/background.svg");
    overflow: hidden;
}

button:hover {
    cursor: pointer;
}

// about screen
#introVid {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%; 
    height: 100%;
    object-fit: cover;
}
#aboutContent, #loginAbout {
    color: white;
}
#aboutHopeText {
    float: right;
    width: 45%;
    margin-top: 12rem;
}
.aboutPageText {
    color: $grey;
}
.missionTitleText {
    margin-top:8rem;
    float:left;
    margin-left:10rem;
}
.ourAboutText {
    color: $grey;
    font-weight: normal;
    display: inline;
    vertical-align: middle;
    padding-right:1rem;
}
.hopeTextTitle {
    font-size: 32px;
    font-weight: normal;
}
.missionAboutText {
    font-weight: normal;
    font-size: 72px;
    margin-top:0;
    margin-bottom: 0;
}
#aboutStartBtn {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    padding-left: 0px;

    &:hover {
        color: $pinkBtnBackground;
    }
}

#startBtn {
    width: 100%;
    text-align: center;
}

.loginLeaves {
    margin-left: -7rem;
    margin-top:-7rem;
    bottom:0px;
}
#loginPageLeaves {
    position: absolute;
    bottom: 0;
    left: 1;
    margin-bottom: -9.5rem;
}

//login page
#loginAbout {
    width: 45%
}
#loginAboutText {
    color: white;
}
.userCodeModal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    overflow: hidden;
}
.userCodeModalContent {
    float: right;
    width: 40%;
    background: white;
    float: right;
    color: $blackBlue;
    height: 100%;
    margin-top: 0;
    padding-left: 3rem;
    padding-top: 1.5rem;
    padding-right: 3rem;
}
.loginBackAboutBtn {
    border: none;
    background: none;
    color: $blackBlue;
    padding-left: 0px;

    &:hover {
        color: $pinkBtnBackground;
    }
}
.enterGrow {
    font-size: 32px;
}
#userCodeElements {
    padding-bottom: 3rem;
}
#userCodeVal {
    font-size: 64px;
    display: inline-block;
    vertical-align: middle;
}
#copyCodeBtn {
    background: $blackBlue;
    color: white;
    border: none;
    display: inline-block;
    vertical-align: middle;
    height: 36px;
    width: 68px;
    font-size: 14px;
    margin-top: 1rem;
    margin-left: 2rem;

    &:hover {
        background: $pinkBtnBackground;
    }
};

#user {
    padding: 1rem;
    width: 287px;
    height: 50px;
    font-size: 18px;
}

#submitSignup {
    background: $pinkBtnBackground;
    border: none;
    color: white;
    opacity: 75%;
    height: 50px;
    width: 150px;
    font-size: 18px;
    margin-left: 1rem;
    cursor: pointer;

    &:hover {
        opacity: 100%;
    }
}

#category {
    display: none;
}

// modals
.backModal,
.happiestSubmitModal, .inspiredSubmitModal, .loveSubmitModal, .proudSubmitModal, .thankfulSubmitModal, .excitedSubmitModal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
// modal content
.backModalContent, 
.happiestSubmitContent, .inspiredSubmitContent, .loveSubmitContent, .proudSubmitContent, .thankfulSubmitContent, .excitedSubmitContent {
    background-color: white;
    margin: auto;
    padding: 1rem 3rem;
    width: 250px;;
    height: 220px;
    border-radius: 6px;
} 
.submitModalTitle, .backModalTitle {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 1rem;
}
.submitModalSubtext {
    padding-bottom: 1rem;
    font-size: 16px;
}
.backModalSubtext {
    font-size: 16px;
    padding-bottom: 1rem;
}

// explore modals
.exploreThankfulModal, .exploreExcitedModal, .exploreInspiredModal, .exploreLoveModal, .exploreHappiestModal, .exploreProudModal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

// explore modals content
.exploreThankfulModalContent, .exploreExcitedModalContent, .exploreInspiredModalContent, .exploreLoveModalContent, .exploreHappiestModalContent, .exploreProudModalContent {
    background-color: white;
    color: $blackBlue;
    margin: auto;
    width: 38rem;
    height: 24rem;
}
.exploreModalPromptLeaf {
    float: right;
    margin-top: -3.1rem;
    margin-right:-3.1rem
}
.exploreModalTitle {
    color: $greySubtext;
    padding-left:2rem;
    font-weight: normal;
    font-size: 16px;
}
.promptAnswer {
    color: $blackBlue;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    padding-left:2rem;
    font-weight: normal;
    margin-top: 0rem;
}
.exploreColorModal{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}
#inspiredExploreColorModal {
    background: #FFF4EB;
}
#excitedExploreColorModal {
    background: #DCF7FF;
}
#happiestExploreColorModal {
    background: #FFF9E2;
}
#proudExploreColorModal {
    background: #FFEDED;
}
#loveExploreColorModal {
    background: #FFE7EF;
}
#thankfulExploreColorModal {
    background: #E1FFF0;
}
.shareText {
    display: inline;
}
.socialMediaShareBtns {
    display: inline;
}
.fa {
    border-radius: 50%;
    border: 1px solid $blackBlue;
    color: $blackBlue;
    padding: 0.75rem;
    background: none;
    margin-left: 1rem;
    float: right;

    &:hover {
        background: $pinkBtnBackground;
        color: white;
        border: 1px solid $pinkBtnBackground;
    }
}
.submittedDate {
    font-size: 10px;
    margin-bottom: 0rem;
    margin-top: 3rem;
}
.report {
    margin-top:0.3rem;
}
.reportButton {
    text-decoration: underline;
    background: none;
    border: none;
    color: $blackBlue;
    &:hover {
        color: $pinkBtnBackground;
    }
}
.answerId {
    display: none;
} // end explore modals content

// modal elements
.closeModalBtn {
    background: white;
    border: 1px solid $blackBlue;
    color: $blackBlue;
    width: 150px;
    height: 50px;
    font-size: 16px;
    

    &:hover {
        border: 1px solid $pinkBtnBackground;
        color: $pinkBtnBackground;
    }
}
.modalSubmitBtn {
    background: $blackBlue;
    border: none;
    color: white;
    width: 150px;
    height:50px;
    font-size: 16px;
    float:right;
    cursor: pointer;

    &:hover {
        background: $pinkBtnBackground;
    }
} // end general modal elements (buttons)

// individual prompt page
#promptTitle {
    margin-top:2rem;
    margin-left:2rem;
}
.promptTitle {
    color: white;
    margin-top:4.5rem;
    font-weight: normal;
    font-size: 18px;
}
#logThought {
    margin-left: 2rem;
}
#excitedForm, #happiestForm, #loveForm, #inspiredForm, #thankfulForm, #proudForm {
    float:left;
}

.promptTextArea {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    height: 250px;
    width: 450px;
}

.answerCharCount {
    color: #B0B0B0;
    padding-bottom: 1rem;
    margin-top:3.5rem;
    font-size: 12px;
}

.promptAnswerLeaf {
    float: right;
    margin-right: 0rem;
    height: 40rem;
    margin-top:-8rem;
}

.logThoughtSubmit {
    border: none;
    font-family: 'Playfair Display', serif;
    opacity: 75%;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 18px;
    display: block;
    cursor: pointer;

    &:hover {
        opacity: 100%;
    }
}
#logExcitedSubmit {
    background: $excitedBlue;
}
#logHappiestSubmit {
    background: $happiestYellow;
}
#logInspiredSubmit {
    background: $inspiredOrange;
}
#logLoveSubmit {
    background: $lovePink;
}
#logProudSubmit {
    background: $proudRed;
}
#logThankfulSubmit {
    background: $thankfulGreen;
} // end individual prompt page

// choose prompt
#selectPromptPageTitle {
    float: left;
    width:30%;
}
#selectPromptPageTitleText {
    margin-top:14rem;
}
#promptPageTitle {
    color: $grey;
    font-size: 18px;
    font-weight: normal;
}
#promptPageSubtitle {
    color: white;
    font-size: 36px;
    width: 310px;
    font-weight: normal;
    margin-top:-1rem;
}
.promptNumbers {
    color: $grey;
    font-size: 24px;
    display: inline-block;
    padding-right: 1rem;
}
#promptBtns {
    float: right;
    margin-right:5%;
    margin-top:0;
}
#inspiredPrompt, #excitedPrompt, #thankfulPrompt, #proudPrompt, #happiestPrompt, #lovePrompt {
    background: none;
    border: none;
	color: $blackBlue;
    font-size: 80px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $promptOutline;

    &:hover {
        -webkit-text-stroke-width: 0px;
    }
}
#inspiredPrompt:hover {
    color: $inspiredOrange;
}
#excitedPrompt:hover {
    color: $excitedBlue;
}
#thankfulPrompt:hover {
    color: $thankfulGreen;
}
#proudPrompt:hover {
    color: $proudRed;
}
#happiestPrompt:hover {
    color: $happiestYellow;
}
#lovePrompt:hover {
    color: $lovePink;
} //end select prompt page


// explore page
#submitThoughtBtn, #totalSubBtn, #exploreThoughtsBtn {
    border-radius: 50%;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    height: 175px;
    width: 175px;
}
#submitThoughtBtn {
    background: white;
    border: 1px solid white;
    color: $blackBlue;
    position: absolute;
    bottom: 2rem;
    right: 2rem;

    &:hover {
        color: white;
        background: $pinkBtnBackground;
    }
}
#totalSubBtn, #exploreThoughtsBtn {
    background: none;
    border: 1px solid white;
    color: white;
    position: absolute;
    bottom: 2rem;
    left: 2rem;

    &:hover {
        border: 1px solid $pinkBtnBackground;
        color: $pinkBtnBackground;
    }
} // end explore page

// data vis
.dataVisLeaf {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.dataVisLeaf:not(:first-child) {
    margin-left: -5.5rem;
}
.answerList {
    width: 65%;
    margin: 0 auto;
    margin-top:4rem;
} 
.totalSubmissions {
    color: white;
    position:absolute;
    bottom:0px;
    right:25%;
    left:50%;
    margin-left:-150px;
}// end data vis page

// back buttons
.back2prompts, .back2explore, {
    background: none;
    border: none;
    color: white;
    padding-left: 0px;

    &:hover {
        color: $pinkBtnBackground;
    }
}
.dismissExploreModal {
    color: $blackBlue;
    background: none;
    border: none;
    margin-top:1rem;
    margin-left: 2rem;
    padding-left: 0px;

    &:hover {
        color: $pinkBtnBackground;
    }
} // end back buttons

// mobile screen
.mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/assets/img/mobileBg.svg");
    z-index: 100001;
    color: #fff;
    text-align: center;
    display: none;
 }
 
 @media all and (max-width: 1023px) {
    .mobile {
        display: block;
    }
 }
// end mobile css

// explore page leaves
.leaf{
    width: 10vw;
    opacity: 1;
    position: fixed;
    stroke-width: 3;
    stroke-opacity:"100%";
    display: block;
    margin: 20px auto;
    cursor: pointer;
}

.motionPath {
    position: fixed;
    width: 120vw;
    stroke-width: 10;
    stroke: "gray";
    fill-opacity:"1";
    transform: translate(-15vw);
    left:-5rem;
    z-index: -20;
}

.reverse{
    transform: translate(-10vw) scale(-1,1);
} 
#mp1{
    top: 10vh;
}

#mp2{
    top: 20vh;
}

#mp3{
    top: 40vh;
}

#mp4{
    top: 35vh;
}

#mp5{
    top: 30vh;
}

#mp6{
    top: 25vh;
}

// end explore page leaves