// color variables
$pinkBtnBackground: #ED7163;
$blackBlue: #070822;
$grey: #AAAAAA;
$promptOutline: #E5E5E5;
$greySubtext: #585858;

// prompt color variables
$inspiredOrange: #FEA050;
$excitedBlue: #4FD4FE;
$happiestYellow: #FFE175;
$proudRed: #ED6E5F;
$lovePink: #FC528F;
$thankfulGreen: #55D897;

// fonts
.playfair {
    font-family: 'Playfair Display', serif;
}
.lato {
    font-family: 'Lato', sans-serif;
}

// backgrounds
#exploreBody, #promptBody, #aboutBody, #dataVisBody, #loginBody {
    background-image: url("/assets/img/background.svg");
    // overflow: hidden;
}

button:hover {
    cursor: pointer;
}

// about screen
#introVid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
}
#aboutContent {
    color: white;
}
#aboutHopeText {
    float: right;
    width: 35%;
}
.aboutPageText {
    color: $grey;
}
.ourAboutText {
    color: $grey;
}
#aboutStartBtn {
    background: none;
    border: none;
    color: white;

    &:hover {
        color: $pinkBtnBackground;
    }
}

#startBtn {
    width: 100%;
    text-align: center;
}

.loginLeaves {
    margin-left: -7rem;
}

//login page
#loginAbout {
    width: 45%
}
#loginAboutText {
    color: white;
}
.userCodeModal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    overflow: hidden;
}
.userCodeModalContent {
    float: right;
    width: 35%;
    background: white;
    float: right;
    color: $blackBlue;
    height: 100%;
    margin-top: 0;
    padding-left: 3rem;
    padding-top: 1.5rem;
    padding-right: 3rem;
}
.loginBackAboutBtn {
    border: none;
    background: none;
    color: $blackBlue;

    &:hover {
        color: $pinkBtnBackground;
    }
}
#userCodeElements {
    padding-bottom: 3rem;
}
#userCodeVal {
    font-size: 64px;
    display: inline-block;
    vertical-align: middle;
}
#copyCodeBtn {
    background: $blackBlue;
    color: white;
    border: none;
    display: inline-block;
    vertical-align: middle;
    height: 36px;
    width: 68px;
    font-size: 14px;
    margin-top: 1rem;
    margin-left: 2rem;

    &:hover {
        background: $pinkBtnBackground;
    }
};

#user {
    padding: 1rem;
    width: 287px;
    height: 72px;
    font-size: 18px;
}

#submitSignup {
    background: $pinkBtnBackground;
    border: none;
    color: white;
    opacity: 75%;
    height: 72px;
    width: 150px;
    font-size: 18px;
    margin-left: 1rem;

    &:hover {
        opacity: 100%;
    }
}

#category {
    display: none;
}

// modals
.backModal,
.happiestSubmitModal, .inspiredSubmitModal, .loveSubmitModal, .proudSubmitModal, .thankfulSubmitModal, .excitedSubmitModal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
// modal content
.backModalContent, 
.happiestSubmitContent, .inspiredSubmitContent, .loveSubmitContent, .proudSubmitContent, .thankfulSubmitContent, .excitedSubmitContent {
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 592px;
    height: 377px;
}

// explore modals
.exploreThankfulModal, .exploreExcitedModal, .exploreInspiredModal, .exploreLoveModal, .exploreHappiestModal, .exploreProudModal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

// explore modals content
.exploreThankfulModalContent, .exploreExcitedModalContent, .exploreInspiredModalContent, .exploreLoveModalContent, .exploreHappiestModalContent, .exploreProudModalContent {
    background-color: white;
    color: $blackBlue;
    margin: auto;
    width: 690px;
    height: 525px;
}
.exploreModalTitle {
    color: $greySubtext;
}
.promptAnswer {
    color: $blackBlue;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
}
.exploreColorModal{

}
#inspiredExploreColorModal {
    background: #FFF4EB;
}
#excitedExploreColorModal {
    background: #DCF7FF;
}
#happiestExploreColorModal {
    background: #FFF9E2;
}
#proudExploreColorModal {
    background: #FFEDED;
}
#loveExploreColorModal {
    background: #FFE7EF;
}
#thankfulExploreColorModal {
    background: #E1FFF0;
}

.exploreModalPromptLeaf {
    float: right;
    margin-top: -3.1rem;
    margin-right:-3.1rem
}

.reportButton {
    text-decoration: underline;
    background: none;
    border: none;
    color: $blackBlue;
    &:hover {
        color: $pinkBtnBackground;
    }
}
.answerId {
    display: none;
} // end explore modals content

// modal elements
.closeModalBtn {
    background: white;
    border: 1px solid $blackBlue;
    color: $blackBlue;

    &:hover {
        border: 1px solid $pinkBtnBackground;
        color: $pinkBtnBackground;
    }
}
.modalSubmitBtn {
    background: $blackBlue;
    border: none;
    color: white;

    &:hover {
        background: $pinkBtnBackground;
    }
} // end general modal elements (buttons)

// individual prompt page
.promptTitle {
    color: white;
}

.promptTextArea {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    // width: 524px;
    height: 250px;
}

.answerCharCount {
    color: white;
}

.promptAnswerLeaf {
    float: right;
}

.logThoughtSubmit {
    border: none;
    font-family: 'Playfair Display', serif;
    opacity: 75%;
    color: white;
    width: 254px;
    height: 64px;
    font-size: 18px;
    display: block;

    &:hover {
        opacity: 100%;
    }
}
#logExcitedSubmit {
    background: $excitedBlue;
}
#logHappiestSubmit {
    background: $happiestYellow;
}
#logInspiredSubmit {
    background: $inspiredOrange;
}
#logLoveSubmit {
    background: $lovePink;
}
#logProudSubmit {
    background: $proudRed;
}
#logThankfulSubmit {
    background: $thankfulGreen;
} // end individual prompt page

// choose prompt
#selectPromptPageTitle {
    float: left;
    width:35%;
}
#promptPageTitle {
    color: white;
    font-size: 24px;
}
#promptPageSubtitle {
    color: white;
    font-size: 48px;
    width: 310px;
}
.promptNumbers {
    color: $grey;
    font-size: 24px;
    display: inline-block;
}
#promptBtns {
    float: right;
    padding-top:2rem;
    margin-right:4rem;
}
#inspiredPrompt, #excitedPrompt, #thankfulPrompt, #proudPrompt, #happiestPrompt, #lovePrompt {
    background: none;
    border: none;
	color: $blackBlue;
    font-size: 80px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $promptOutline;

    &:hover {
        -webkit-text-stroke-width: 0px;
    }
}
#inspiredPrompt:hover {
    color: $inspiredOrange;
}
#excitedPrompt:hover {
    color: $excitedBlue;
}
#thankfulPrompt:hover {
    color: $thankfulGreen;
}
#proudPrompt:hover {
    color: $proudRed;
}
#happiestPrompt:hover {
    color: $happiestYellow;
}
#lovePrompt:hover {
    color: $lovePink;
} //end select prompt page


// explore page
#submitThoughtBtn, #totalSubBtn, #exploreThoughtsBtn {
    border-radius: 50%;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    height: 216px;
    width: 216px;
}
#submitThoughtBtn {
    background: white;
    border: 1px solid white;
    color: $blackBlue;
    position: absolute;
    bottom: 8px;
    right: 16px;

    &:hover {
        color: white;
        background: $pinkBtnBackground;
    }
}
#totalSubBtn, #exploreThoughtsBtn {
    background: none;
    border: 1px solid white;
    color: white;
    position: absolute;
    bottom: 8px;
    left: 16px;

    &:hover {
        border: 1px solid $pinkBtnBackground;
        color: $pinkBtnBackground;
    }
} // end explore page

// data vis
.dataVisLeaf {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.dataVisLeaf:not(:first-child) {
    margin-left: -5.5rem;
}
.answerList {
    width: 65%;
    margin: 0 auto;
    margin-top:4rem;
} // end data vis page

// back buttons
.back2prompts, .back2explore, {
    background: none;
    border: none;
    color: white;
}
.dismissExploreModal {
    color: $blackBlue;
    background: none;
    border: none;
    &:hover {
        color: $pinkBtnBackground;
    }
} // end back buttons

// mobile screen
.mobile {
    display: none;
}
@media only screen and (min-width: 320px) and (max-width: 568px) and 
   (orientation: portrait) { .mobile { 
        background-image: url("/assets/img/mobileBg.svg");
        color: white;
        display: inline; 
    }
} // end mobile css

// explore page leaves
.leaf{
    width: 10vw;
    opacity: 1;
    position: fixed;
    stroke-width: 3;
    stroke-opacity:"100%";
    display: block;
    margin: 20px auto;
}

.motionPath {
    position: fixed;
    width: 120vw;
    stroke-width: 10;
    stroke: "gray";
    fill-opacity:"1";
    transform: translate(-15vw);
    left:-5rem;
    z-index: -20;
}

.reverse{
    transform: translate(-10vw) scale(-1,1);
} // end explore page leaves