$pinkBtnBackground: #ED7163;
$blackBlue: #070822;

.playfair, .promptAnswer {
    font-family: 'Playfair Display', serif;
}

.lato {
    font-family: 'Lato', sans-serif;
}

#startBtn {
    width: 100%;
    text-align: center;
}

#submitSignup {
    background: $pinkBtnBackground;
    border: none;
    color: white;
}

#copyCodeBtn {
    background: $blackBlue;
    color: white;
    border: none;
};

#category{
    display: none;
}

.backModal,
.exploreThankfulModal, .exploreExcitedModal, .exploreInspiredModal, .exploreLoveModal, .exploreHappiestModal, .exploreProudModal,
.happiestSubmitModal, .inspiredSubmitModal, .loveSubmitModal, .proudSubmitModal, .thankfulSubmitModal, .excitedSubmitModal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
/* Modal Content */
.backModalContent, 
.exploreThankfulModalContent, .exploreExcitedModalContent, .exploreInspiredModalContent, .exploreLoveModalContent, .exploreHappiestModalContent, .exploreProudModalContent,
.happiestSubmitContent, .inspiredSubmitContent, .loveSubmitContent, .proudSubmitContent, .thankfulSubmitContent, .excitedSubmitContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

// modal elements
.closeModalBtn {
    background: white;
    border: 1px solid $blackBlue;
    color: $blackBlue;
}

.modalSubmitBtn {
    background: $blackBlue;
    border: 1px solid $blackBlue;
    color: white;
}